.flash-box
  .notice
.wrapper
  = render 'layouts/side-bar'
  .chat-main
    .main-header
      .current-group
        %h2.current-group__name test
        %ul.member-list
          Member：
          %li.member-list__member Mihou
      = link_to edit_group_path(params[:group_id]) do
        .main-header__edit-btn Edit
    .messages
      =render partial: "messages/message"
    .form
      .write-down
        .input-box
          = form_for [@group, @message] do |f|
            = f.text_field :body, class: "input-box__text", placeholder: "type a message"
            .form__mask
              = f.label :image, class: "image-label" do
                %i.fa.fa-image
                = f.file_field :image, class: "image-label__input"
            = f.submit "Send", class: "write-down__send-btn"
